form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: none;
}
legend {
  flex: 0 1 auto;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--tertiary);
}
.go-to {
  font-size: 1.25rem;
}

form.session {
  height: 100vh;
  margin: auto;
  padding: 5rem 2rem 2.5rem 2rem;
  justify-content: space-between;
  @media screen and (min-width: $tablet) {
    width: 45rem;
  }
}

.field {
  width: 100%;
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  & label {
    flex: 0 0 auto;
  }
  & .status {
    flex: 0 1 7rem;
  }
  & input {
    margin-top: .5rem;
  }
}
input {
  flex: 1 0 100%;
  padding: .5em 1em;
  font-size: 1rem;
  font-family: $font;
  color: var(--tertiary);
  background: var(--secondary);
  border: none;
  border-radius: .5rem;
  caret-color: var(--tertiary);
  &:focus {
    outline: none;
    background: var(--secondary-bright);
  }
  &::placeholder {
    font-size: var(--tertiary-dark);
  }
  &:not(:placeholder-shown):invalid {
    background: var(--error);
  }
  &:read-only {
    color: var(--tertiary-dark);
  }
}

span.status {
  margin-left: .5rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--accent-bright);
}

span.status.empty {
  color: var(--tertiary-dark);
}

span.status.invalid {
  color: var(--error-bright);
}