form {
  margin: 1.25rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 1rem;
  & legend {
    flex: 1 1 100%;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--tertiary);
  }
  & .go-to {
    position: absolute;
    bottom: 2rem;
    font-size: 1.25rem;
  }
}

form.session {
  margin: 5rem 2rem;
  @media screen and (min-width: $tablet) {
    width: 45rem;
    margin: 5rem auto;
  }
}

.field {
  width: 100%;
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  & label {
    flex: 0 0 auto;
  }
  & .status {
    flex: 0 1 7rem;
  }
}
input {
  flex: 1 0 100%;
  padding: .75em 1em;
  font-size: 1rem;
  color: var(--tertiary);
  background: var(--secondary);
  border: none;
  border-radius: .25rem;
  caret-color: var(--tertiary);
  &:read-only {
    color: var(--tertiary-dark);
  }
}

input {
  margin-top: .5rem;
  &:focus {
    outline: none;
    background: var(--secondary-bright);
  }
  &::placeholder {
    font-size: var(--tertiary-dark);
  }
  &:not(:placeholder-shown):invalid {
    background: var(--error);
  }
}

span.status {
  margin-left: .5rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--accent-bright);
}

span.status.empty {
  color: var(--tertiary-dark);
}

span.status.invalid {
  color: var(--error-bright);
}