body {
  background: var(--primary);
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--tertiary);
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--tertiary);
}

a {
  color: var(--accent);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: var(--accent-bright);
  }
  &:focus {
    outline: none;
    color: var(--accent-bright);
  }
}

label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--tertiary);
}

span {
  display: flex;
  align-items: center;
  & * {
    margin: .25rem;
  }
}